* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	display: inline;
}

header {
	background-color: #F14242;
	padding: 1.5em;
	font-family: 'Indie Flower', Arial, sans-serif;
	font-size: 1.5em;
	text-align: right;
	height: 15%;
}

main {
	background-color: #2c3e50;
	font-family: 'Gloria Hallelujah', Arial, sans-serif;
	height: 80%;
}

footer {
	background-color: #3B546C;
	text-align: right;
	vertical-align: middle;
	height: 5%;
}

.menu {
	display: inline-block;
	width: 100%;
}

.menu ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}

.menu a:hover {
	background-color: #34495e;
}

.menu li a {
	text-decoration: none;
	color: #fff;
	padding: .3em 1em;
	border-radius: 2em;
	text-transform: uppercase;
	font-weight: bold;
}

.img-profile {
	width: 300px;
	height: 300px;
	background-color: #bdc3c7;
	border-radius: 40%;
	display: inline-block;
	vertical-align: middle;
}

.container {
	padding: 5% 10% 1%;
}

.information {
	display: inline-block;
	vertical-align: middle;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

.information h1 {
	color: #FF6A6A;
	font-size: 3em;
}

.information h2 {
	color : #fff;
	font-size: 1.5em;
	padding-top: 1em;
}

.social {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}

.social li {
	display: inline-block;
	line-height: 10em;
}

.social li a{
	vertical-align: middle;
	text-indent: -9999px;
	display: inline-block;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.facebook a{
	background-image: url('../img/Facebook-Icon.png'); 
}

.twitter a{
	background-image: url('../img/Twitter-Icon.png'); 
}

.plus a{
	background-image: url('../img/Google+Icon.png'); 
}

.github a{
	background-image: url('../img/Github-Icon.png'); 
}

.linkedin a{
	background-image: url('../img/Linkedin-Icon.png'); 
}

.slideshare a{
	background-image: url('../img/Slideshare-icon.png'); 
}

.wordpress a{
	background-image: url('../img/Wordpress-Icon.png'); 
}

.contact {
	color: #fff;
	text-decoration: none;
}

.contact:before {
	content: "";
	background-image: url("../img/contato.png");
	background-size: contain;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: .8em;
}