body {
	height: calc(100vh - 10em);
}

header {
	color: #2c3e50;
	margin: 10em 3em;
	font-family: Montserrat, sans-serif;
}

header h1 {
	font-size: 3em;
	color: #4A86E8;
	font-weight: 700;
	margin: 0.8rem 0;
}

header p {
	font-weight: 400;
	font-size: 1.5em;
}

header section {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 190px);
}

.avatar {
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}

.social {
	margin-top: 1.5rem;
}

.social li {
	display: inline-block;
}

.social li a {
	display: inline-block;
	text-indent: -9999px;
	width: 28px;
	height: 28px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.social li a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.social li:not(:last-of-type) a {
	margin-right: 0.7em;
}

.email a {
	background-image: url("../img/email.png");
}

.facebook a {
	background-image: url("../img/facebook.svg");
}

.twitter a {
	background-image: url("../img/twitter.svg");
}

.github a {
	background-image: url("../img/github.svg");
}

.medium a {
	background-image: url("../img/medium.svg");
}

.codepen a {
	background-image: url("../img/codepen.svg");
}

.linkedin a {
	background-image: url("../img/linkedin.svg");
}

.wordpress a {
	background-image: url("../img/wordpress.svg");
}

@media(max-width: 600px) {
	header section {
		width: 100%;
	}

	.avatar {
		display: block;
		margin: 2.5em auto 0;
	}
}