body {
	font-family: Lato, sans-serif;
	box-sizing: border-box;
	position: relative;
	min-height: 100%;
}

.container {
	padding-left: 4%;
	padding-right: 4%;
}

h2 {
	font-size: 2em;
	margin-bottom: 1rem;
	padding-top: 1rem;
	text-align: center;
	text-transform: uppercase;
}

.navigation ul {
	position: relative;
	display: flex;
    justify-content: flex-end;
	margin-bottom: 3em;
	margin-top: 3em;
}

.navigation li:first-child {
	margin-left: 0;
}

.navigation li {
	text-align: center;
    margin-left: 2em;
    flex-basis: 20%;
}

.navigation a {
	padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
	width: 100%;
	font-size: 1.2em;
	border-radius: 10px;
	border: 1px solid #fff;
}

.navigation a:hover {
	background-color: #8384E6;
	color: #fff;
}

.navigation a.active {
    background-color: #8384E6;
	color: #fff;
}

.navigation a.active:hover {
    background-color: transparent;
	color: #fff;
}

footer {
	background-color: #1F2047;
}

footer p {
	color: #fff;
    text-align: center;
    padding: 1em;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

.base {
    position: absolute;
    filter: blur(100px);
    opacity: 0.8;
}

.one {
    width: 50vw;
    height: 50vh;
    background-color: #420097;
    left: -20vw;
    top: -15vh;
}

.two {
    width: 80vw;
    height: 80vh;
    background-color: #A866FD;
    left: 20vw;
    top: -15vh;
}

.three {
    width: 50vw;
    height: 50vh;
    background-color: #179DC7;
    left: 70vw;
    top: -15vh;
} 

@media(max-width: 600px) {
    .container {
        padding: 0;
	}
	
	.navigation ul {
		display: block;
		padding-left: 2em;
		padding-right: 2em;
		margin-bottom: 0;
	}

	.navigation li {
		margin-left: 0;
		margin-bottom: 1em;
	}

	.one {
		height: 100vh;
	}

	.two {
		height: 160vh;
	}

	.three {
		height: 100vh;
	}
}