.info {
	padding: 370px 2em;
	position: relative;
	z-index: 1;
	text-align: center;
}

.info::before {
	content: "";
	background-image: url('../img/map.jpg');
	background-position: center;
	background-size: cover;
	opacity: 0.4;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.info p {
	font-size: 2.6em;
	font-weight: bold;
	display: inline-block;
	margin-left: 0.5em;
	opacity: 1;
	margin-bottom: 0.8em;
	color: #fff;
	text-shadow: 5px 3px 15px #000;
}

.next-talks {
	background-color: #192539;
	color: #fff;
	padding: 1em 0;
}

.talk {
	background-color: #fff;
	width: 50%;
	border-radius: 10px;
	padding: 1em;
	color: #192539;
	line-height: 1.3;
	margin: 1.5em auto;
}

.talk a {
	color: #4A86E8;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	display: block;
	padding-bottom: 0.5em;
	text-decoration: none;
}

.talk a:hover {
	text-decoration: underline;
}

.timeline {
	color: #8384E6;
	position: relative;
	padding: 1em 0;
}

.timeline:before {
	content: "";
	width: 50%;
	border-right: 6px solid #93B9E9;
	display: block;
	height: calc(100% - 5.5em);
	position: absolute;
	top: 5.5em;
}

.event {
	position: relative;
	width: 50%;
}

.event:after {
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	border-radius: 100%;
	border: 6px solid #93B9E9;
	background: #fff;
	top: 50%;
	left: calc(100% + 4px);
	transform: translate(-50%, -50%);
}

.bubble {
	background-color: #93B9E9;
	color: #fff;
	border-radius: 10px;
	position: relative;
	margin: 2.5em;
	padding: 1em;
}

.bubble p {
	padding: 0.3em 0;
}

.bubble a {
	text-decoration: none;
	color: #570BB7;
	word-break: break-word;
}

.bubble a:hover {
	text-decoration: underline;
}

.bubble p:first-child a {
	font-size: 1.3em;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
}

.event:nth-child(even) .bubble {
	left: 100%;
	margin-left: 2em;
}

.event:nth-child(odd) .bubble {
	margin-right: 1.5em;
}

.bubble:after {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.event:nth-child(even) .bubble:after {
	left: -10px;
	border-right: 10px solid #93B9E9;
}

.event:nth-child(odd) .bubble:after {
	right: -10px;
	border-left: 10px solid #93B9E9;
}

@media(max-width: 600px) {
	.talk {
		width: 75%;
	}

	.timeline:before {
		width: 10%;
	}

	.event {
		width: 100%;
	}

	.event:after {
		left: calc(10% + 4px);
	}

	.event:nth-child(even) .bubble {
		left: 10%;
	}

	.event:nth-child(odd) .bubble {
		margin-left: 2em;
		margin-right: 2.5em;
		left: 10%;
	}

	.event:nth-child(odd) .bubble:after {
		left: -10px;
		right: 0;
		border-right: 10px solid #192539;
		border-left: none;
	}
}