/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Geral settings */

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: "Berkshire Swash", serif;
    text-shadow: 1px 1px 2px white;
}

section {
    padding: 50px 70px;
    text-align: center;
}

.text {
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-style: italic;
}

strong {
    font-weight: 600;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 30px 20px;
    background-image: url(img/hero.png);
    background-size: cover;
}

.hero .logo {
    width: 250px;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 500;
    color: #F8F9FA;
    font-family: "Berkshire Swash", serif;
}

.hero h1 strong {
    color: #FFD700;
}

.video-explicativo {
    width: 80%;
    margin: 20px auto 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cta-button {
    display: inline-block;
    background: #FFD700;
    color: #333;
    padding: 1.5rem 5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.3s;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    margin: 1.5rem;
}

.cta-button:hover {
    background: #FF4081;
    transform: scale(1.1);
}

/* Dores Section */
.dores, .beneficios, .bonus {
    /* background: linear-gradient(180deg, #473874, #b399d4) */
    background: #b399d4;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
}

.dores h2, .beneficios h2, .bonus h2 {
    color: #ff7eb3;
    text-shadow: 1px 1px 2px black;
}

.dores ul, .beneficios ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.dores ul li, .beneficios ul li {
    margin: 2em 0;
    padding: 1em;
    font-size: 1.2rem;
    background-color: #F8F9FA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.note {
    font-size: 1.2rem;
    margin-top: 40px;
    font-style: italic;
    font-weight: 600;
}

/* Depoimentos Section */
.depoimentos, .exclusivo, .oferta-limitada {
    background: #ff7eb3;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
}

.exclusivo .list {
    margin-top: 40px;
    margin-bottom: 40px;
}

.list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.list-item {
    align-content: center;
    background: #fdfdfd;
    border: 2px solid #b399d4;
    padding: 40px;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-item:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.depoimento-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #b399d4;
    margin-bottom: 0.7em;
}

.list-item:hover .depoimento-avatar {
    border: 3px solid #473874;
}

.depoimentos h3 {
    font-family: "Berkshire Swash", serif;
    font-weight: 600;
    font-size: 2.5em;
    margin-top: 60px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px white;
}

.depoimentos h3 + p, .depoimentos .impacto + p, .depoimentos p + p {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 40px;
    font-weight: 500; 
}

.depoimentos .impacto + p {
    color: #F8F9FA;
}

.depoimentos p > strong {
    color: #F8F9FA;
}

.depoimentos p + p {
    font-weight: 600;
    margin-bottom: 20px;
}

.impacto {
    background-color: #473874;
    color: #F8F9FA;
    padding: 1em 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 60px;
}

p + p.dynamic-numbers {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 600;
    color: #FFD700;
    text-shadow: 1px 1px 1px black;
}

/* Prazo Section */
.prazo {
    /* background: linear-gradient(180deg, #ff7eb3,  #ff7eb3, #b399d4); */
    background: #b399d4;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
}

/* Processo Section */
.processo {
    background-color: #473874;
    background-image: url(img/processo.png);
    background-size: cover;
    color: #fff;
}

.processo h2 {
    text-shadow: 1px 1px 2px black;
}

.processo img {
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    border-radius: 5px;
}

.processo .impacto {
    background-color: #b399d4;
    display: inline-block;
    width: 70%;
}

.processo p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 40px;
}

/* Beneficios Section */

.beneficios .text {
    font-size: 1.5rem;
    font-weight: 500;
}

.beneficios ul + p {
    color: #fff;
}

.bonus {
    padding: 60px 20px 40px;
    text-align: center;
}

.bonus p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 40px;
}

.bonus-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.bonus-item {
    background-color: #fff;
    border: 2px solid #d8c4f3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 0 40%;
}

.garantia {
    background: linear-gradient(0deg, #ff7eb3, #b399d4);
    padding: 0px 20px 20px;
    text-align: center;
}

.garantia h2, .oferta-limitada h2 {
    color: #473874;
    margin-bottom: 20px;
    font-weight: 600;
}

.garantia p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.garantia-details {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.oferta-limitada p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 40px;
}

.oferta-limitada .note {
    color: #fff;
}

.oferta {
    border-radius: 5px;
    border: 3px solid #FFD700;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 3rem 6rem;
    display: inline-block;
}

.oferta p:first-child {
    display: inline-block;
    background-color: #473874;
    color: #fff;
    padding: 0 2rem;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 0;
}

.oferta p {
    color: #333;
    font-size: 2rem;
}

.timer {
    margin: 30px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

#countdown {
    font-size: 3rem;
    color: #fff;
    margin: 10px 0;
    font-weight: 600;
}

p.preco {
    margin-bottom: 0;
    font-weight: 600;
}

.preco strong:first-child {
    color: #FFD700;
    margin-left: 0.5rem;
    font-size: 5rem;
    font-weight: 800;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.bonus-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.bonus-item h3 {
    font-size: 1.5rem;
    color: #4a5f9e;
    margin-bottom: 10px;
}

.bonus-item p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.bonus-item .price {
    font-size: 1rem;
    color: #ff0000;
    text-decoration: line-through;
    display: block;
    margin-bottom: 5px;
}

.bonus-item .free {
    font-size: 1.2rem;
    color: #008000;
    font-weight: 600;
}

.valor-investimento {
    background: linear-gradient(180deg, #b399d4, #473874);
}

.valor-investimento p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 40px;
}

.final-note {
    font-size: 1.3rem;
    margin-top: 30px;
    color: #473874;
}

/* FAQ Section */
.faq {
    background: #b399d4;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
}

details {
    margin: 20px 0;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

details summary {
    font-weight: 600;
    cursor: pointer;
}

details p {
    margin-top: 10px;
    font-size: 1rem;
}

/* Footer */
footer {
    background: #333;
    color: #F9F9F9;
    text-align: center;
    padding: 20px;
}

footer .social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-links a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

footer .social-links a img:hover {
    transform: scale(1.2);
}

/* Responsividade */
@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    .list {
        flex-wrap: wrap;
    }

    .list-item {
        max-width: 250px;
    }

    p + p.dynamic-numbers {
        font-size: 2rem;
    }
}

@media (max-width: 992px) {
    .video-explicativo {
        width: 100%;
    }

    .list {
        flex-direction: column;
        align-items: center;
    }

    .list-item {
        max-width: 90%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 1.8rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .hero .logo {
        width: 200px;
    }

    .list {
        gap: 10px;
    }

    .list-item {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .dores ul li {
        font-size: 1rem;
    }

    section {
        padding: 1.5rem 2rem;
    }

    .oferta {
        padding: 2rem;
        display: block;
    }

    .oferta p {
        font-size: 1.5rem;
    }

    p.preco {
        font-size: 1.5rem;
    }

    .preco strong:first-child {
        font-size: 3rem;
    }

    .cta-button {
        padding: 1rem 3rem;
        margin: 0.5rem;
    }
}